#countdown {
    text-align: center;
    margin: auto;
}

#text {
    text-align: center;
    margin: auto;
}

#p {
    background-color: lightgoldenrodyellow;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    font-size: 40;
    height: 70px;
    width: 200px;
}

.btn-group {
    background-color: #68167c;
    border: 1px solid rgb(0, 0, 0); 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
}
  
.btn-group button:not(:last-child) {
    border-bottom: none;
  }
  
  /* Add a background color on hover */
.btn-group button:hover {
    background-color: hsl(261, 51%, 36%);
}